* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    background-color: bisque;
    margin: -10px;
}

.main-content {
    padding: 10px;
    display: flex;
}